#cursive-text {
  font-family: cursive;
  font-size: 36px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(40) 1s 1 normal both;
  visibility: hidden;
}

@keyframes typing {
  0% {
    width: 0;
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}